ENVIRONMENT="development"
MYSQL_DSN="root:mysecretpassword@tcp(localhost:3307)/watchexpense?parseTime=true&multiStatements=true"
JWT_SECRET="your_jwt_secret_key"
JWT_ISSUER="your_jwt_issuer"
JWT_AUDIENCE="your_jwt_audience"
